@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter-Regular.woff2") format("woff2");
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  color: black;
  margin: 0;
}

:root {
  --font-medium: 500;
  --font-semi: 600;
  --font-bold: 700;
  --font-regular: 400;
  --opacity-70: 70%;
  --color-white: #ffffff;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

/* Уведомление */

.notification {
  background-color: #634c9f;
}

.notification__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 41px;
}

.notification-left__container {
  display: flex;
}

.notification-right__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.notification-right__container h4 {
  display: flex;
}

.notification-left__text {
  font-weight: var(--font-semi);
  color: var(--color-white);
  font-size: 12px;
}

.notification-right__text--prefix {
  font-weight: var(--font-medium);
  opacity: var(--opacity-70);
  color: var(--color-white);
  font-size: 12px;
}

.notification-right__text--numbers {
  font-weight: var(--font-bold);
  color: var(--color-white);
  font-size: 18px;
}

.notification-right__text--time {
  font-weight: var(--font-regular);
  opacity: var(--opacity-70);
  font-size: 11px;
  color: var(--color-white);
}

.notification-right__container > *:first-child {
  margin-right: 7px;
}
/* Шапка верх */

.left-section a {
  padding-right: 15px;
}

.top-header a {
  color: #6b7280;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.top-header span {
  margin-right: 14px;
  color: #6b7280;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
}

.highlight-time {
  color: #ea580c !important; /* Красный */
  font-weight: bold !important; /* Можно добавить жирность */
}

.button-list select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: transparent;
  padding: 5px 20px 5px 5px;
  cursor: pointer;
  outline: none;
  background-image: url(icons/select\ usd.png);
  background-repeat: no-repeat;
  background-position-x: 55px;
  background-position-y: 10px;
  color: #6b7280;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.select__english {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: transparent;
  padding: 5px 20px 5px 5px;

  cursor: pointer;
  outline: none;
  background-image: url(icons/select\ usd.png);
  background-repeat: no-repeat;
  background-position-x: 55px;
  background-position-y: 10px;
  color: #6b7280;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.select__ru {
  appearance: none; /* Убираем стандартный вид */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  border: none; /* Убираем границу */
  background: transparent; /* Прозрачный фон */
  padding: 5px 20px 5px 5px; /* Отступы для стрелки */

  cursor: pointer; /* Курсор-указатель */
  outline: none; /* Убираем обводку при фокусе */
  background-image: url(icons/select\ usd.png);
  background-repeat: no-repeat;
  background-position-x: 30px;
  background-position-y: 10px;
  color: #6b7280;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
}

.button-list {
  position: relative;
  display: inline-block;
  border: none;
}

.button-list::after {
  /*  content: "▼" */ /* Unicode символ стрелки */
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 10px;
  color: #666;
  pointer-events: none; /* Чтобы не перекрывать клик по select */
}

.whishlist {
  border-right: 2px solid #e5e5e5;
  padding-right: 14px;
}

/* Шапка середина */

.container-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1360px;
  margin: 0 auto;
  height: 78px;
  /* border-top: 1.5px solid #e5e5e5;
  border-bottom: 1.5px solid #e5e5e5;
  border-right: none;
  border-left: none; */
}

.icon-buttongeo {
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  margin-right: 21px;
  margin-left: 21px;
}
/* Посмотреть еще раз после изучения display */
.deliver-to {
  display: inline-block;
  flex-direction: column; /* Размещаем элементы вертикально */
  align-items: flex-start; /* Выравниваем по левому краю */
  text-decoration: none; /* Убираем подчеркивание ссылки (опционально) */
}

.deliver-text {
  color: #030712;
  text-decoration: none;
  font-weight: 400;
  opacity: 70%;
  font-size: 11px;
}

.all {
  color: #030712;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;

  margin-top: 2px;
  display: block;
}

.sign-in {
  display: inline-block;
  flex-direction: column; /* Размещаем элементы вертикально */
  align-items: flex-start; /* Выравниваем по левому краю */
  text-decoration: none; /* Убираем подчеркивание ссылки (опционально) */
  padding-right: 13px;
}

.sign-text {
  color: #030712;
  text-decoration: none;
  font-weight: 400;
  opacity: 70%;
  font-size: 11px;
}

.account-text {
  color: #030712;
  text-decoration: none;
  font-weight: 500;
  font-size: 13px;

  margin-top: 2px;
  display: block;
}

.search-container {
  /* сделал не сам и не понял ничо */
  display: flex;
  width: 100%;
  max-width: 800px; /* Увеличенная максимальная ширина */
  min-width: 500px; /* Минимальная ширина */
  margin: 0 auto;
  background-color: #f3f4f6;
  border-radius: 8px; /* Чуть больше скругление */
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08); /* Более мягкая тень */
  transition: all 0.3s ease;
}

.search-input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  background-color: #f3f4f6;
}

.search-input::placeholder {
  color: #6b7280;
}

.search-button {
  background: none;
  border: none;
  padding: 0 16px;
  cursor: pointer;
  color: #6b7280;
  transition: color 0.3s;
}

.search-button:hover {
  color: #000;
}

.icon-search {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 14px;
}

.icon-button {
  background: none;
  border: none;
  padding: 0px;
  cursor: pointer;
}

/* Шапка низ */

.container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1360px;
  margin: 0 auto;
  height: 48px;
}

.navigation a {
  margin-right: 24px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.sales {
  color: #dc2626;
  text-decoration: none;
  font-weight: 600;
  margin-right: 7px;
}

.tproducts {
  margin-right: 5px;
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

.sale-bar {
  display: flex;
}

.select__button__main {
  appearance: none; /* Убираем стандартный вид */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  border: none;
  background-image: url(icons/select.png);
  background-repeat: no-repeat;
  cursor: pointer; /* Курсор-указатель */
  outline: none; /* Убираем обводку при фокусе */
  width: 10px;
  height: 19px;

  background-position-y: 7px;
  padding-right: 25px;
}

.select__button__sale {
  appearance: none; /* Убираем стандартный вид */
  -webkit-appearance: none; /* Для Safari */
  -moz-appearance: none; /* Для Firefox */
  background-image: url(icons/sele__sale.png);
  border: none;
  background-repeat: no-repeat;
  cursor: pointer; /* Курсор-указатель */
  outline: none; /* Убираем обводку при фокусе */
  width: 10px;
  height: 19px;
  background-position-y: 7px;
  margin-left: 10px;
}

/* Мейн сайта */
.welcome {
  box-sizing: border-box;
  min-height: 700px;
  padding: 166px 0;
  background-image: url(icons/pngegg.png);
  background-repeat: no-repeat;
  /*   background-size: cover; */
  background-position-x: 1025px;
  background-position-y: -20px;
  background-size: 700px;
  background-color: #dbd2e5;
}

.container__welcome {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.button__shop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 42px;
  font-weight: 700;
  font-size: 14px;

  background: #634c9f;
  border-radius: 8px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 42px;
}

.welcome__subtitle {
  /* Доделать размер заднего фона */
  max-width: 180px;
  margin: 0;
  border-radius: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 10px;
  font-weight: 600;
  color: #166534;
  background: linear-gradient(to right, #16a34a50 0%, #22c55e00 60%);
}

.welcome__title {
  padding-top: 6px;
  color: #39245f;
  font-weight: 700;
  font-size: 58px;
  max-width: 580px;
  line-height: 64px; /* размер высоты между строками */
  margin: 0;
  letter-spacing: -1px; /* расстояние между буквами */
  padding-bottom: 10px;
}

.welcome__desc {
  padding: 0px 0px 0px 0px; /* не работает падинг */
  font-weight: 400;
  color: #030712;
  font-size: 16px;
  margin: 0;

  max-width: 470px;
  line-height: 22px;
}

.button__price {
  display: flex; /* запомнить */
  align-items: center;
}

.price__one {
  padding-left: 16px;
  padding-top: 34px;
  font-weight: bold;
  color: #dc2626;
  font-size: 28px;
  line-height: 28px;
  gap: 0;
}

.price__two {
  color: #111827;
  padding-left: 6px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: line-through;
}

.offer {
  font-weight: 400;
  color: #030712;
  font-size: 11px;
  opacity: 50%;
  max-height: 14px;
  display: block; /* перенос на новую строку */
}

.food__list {
  color: #ffffff;
}

/* Карточки */

.food__list .container__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 46px;
  gap: 30px;
}

.food__list__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 130px;
  height: 145px;
  object-fit: cover;
  /* border-radius: 60px;
  background-color: #f3f4f6;  */
}

.container__cards {
  padding-bottom: 154px;
}

.food__list__img {
  display: block;
  max-width: 100%;
  object-fit: cover;
  border-radius: 60px;
  background-color: #f3f4f6;
}

.food__list__text {
  display: inline-block;
  text-align: center;
  color: #030712;
  font-size: 13px;
  font-weight: bold;
  line-height: 16px;
  text-decoration: none;
  padding-top: 7px;
}

/* Подвал */

.footer {
  background-color: #f3f4f6;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr auto; /* Текст слева, input справа */
  align-items: center;
}

.newsletter__box {
  padding-top: 50px;
}

.newsletter {
  color: #111827;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
}

.footer__top {
  padding-left: 240px;
  padding-bottom: 67px;
}

.email__sender {
  width: 430px;
  padding: 20px;
  padding-right: 250px;
  padding-top: 50px;
}

.input__group {
  display: flex;
  position: relative;
  align-items: center;
}

.send__email {
  flex: 1;
  padding: 12px 12px 12px 40px;
  border: 2px solid #d1d5db;
  border-right-width: 0px;
  border-radius: 8px 0 0 8px;
}

.email__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.button__email {
  background-color: #634c9f;
  padding: 13px 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 0 4px 4px 0;
  height: 43px;
}

.send__email::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #9ca3af;
}

.email__subtitle {
  color: #6b7280;
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

.another__email__subtitle {
  color: #634c9f;
  font-weight: 500;
  font-size: 11px;
}

.footer__midle {
  padding-left: 240px;
  padding-top: 51px;
  padding-bottom: 50px;
}

.midle__contacts {
  width: 270px;
}

.help {
  font-weight: 600;
  font-size: 14px;
  color: #111827;
}

.subtitle {
  color: #6b7280;
  font-weight: 400;
  font-size: 13px;
  margin: 0;
  padding-top: 20px;
}

.phone__number {
  display: flex;
  align-items: center;
}

.phone__icon {
  padding-top: 36px;
}

.monday {
  opacity: 60%;
  color: #111827;
  font-weight: 400;
  font-size: 12px;
  padding-top: 36px;
  margin: 0px;
  padding-left: 22px;
  padding-bottom: 4px;
}

.number {
  margin: 0;
  padding-left: 22px;
  font-weight: 700;
  font-size: 20px;
  color: #111827;
}

.email__contact {
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.title__email {
  opacity: 60%;
  color: #111827;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
  padding-left: 22px;
  padding-bottom: 4px;
}

.subtitle__email {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  color: #111827;
  padding-left: 22px;
}

.midle__list {
  display: flex;
  justify-content: center;
}

.middle__cont {
  display: flex;
}

.footer__list {
  padding-left: 96px;
  display: flex;
  gap: 19px;
}

.footer__list__title a {
  text-decoration: none;
  color: #111827;
  font-weight: 600;
  font-size: 14px;
}

.footer__list__item a {
  color: #4b5563;
  font-weight: 400;
  font-size: 13px;
  list-style: none;
  line-height: 19px;
}

.footer__list__item {
  list-style: none;
  padding-bottom: 4px;
}

.footer__list__title {
  list-style: none;
  width: 250px;
  height: 252px;
}

.footer__iner__list {
  padding-left: 0px;
  padding-right: 72px;
}

.download__button {
  display: block;
  text-decoration: none;
  color: #111827;
  font-size: 14px;
  font-weight: 600;
}

.store__block {
  display: flex;
}

.store__block img {
  object-fit: contain;
}

.store__block h4 {
  font-size: 10px;
  color: #6b7280;
  line-height: 15px;
  font-weight: 500;
  padding-left: 15px;
}

.social__media {
  color: #111827;
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding-top: 35px;
}

.social__icons {
  padding-top: 10px;
}

.hr__border {
  margin: auto;
  width: 74%;
}

.coryright__group {
  display: flex;
}

.coryright__text h4 {
  color: #6b7280;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 0px;
}

.coryright__text {
  padding-left: 240px;
  padding-top: 50px;
}

.bank__icons {
  padding-top: 23px;
  gap: 15px;
  display: flex;
  padding-bottom: 54px;
}

.bank__icons img {
  object-fit: contain;
}

.privacy__group {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 465px;
  gap: 8px;
  padding-bottom: 56px;
}

.privacy__group a {
  color: #111827;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  gap: 7px;
}
